* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 3em;
  background-color: #2c2627;
  color: #bc2c3d;
  z-index: 20;
}

.header_logo {
  text-transform: uppercase;
  color: #bc2c3d;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
}

.header-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-links_link {
  padding: 0.5em 1em;
  margin: 0 0.5em;
}

.header-links_link a {
  color: #f8f3e6;
  font-weight: bold;
  text-decoration: none;
}

.hero {
  background-color: #2c2627;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
  font-size: clamp(0.6em, 2vw, 1em);
}

.hero-content {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  color: #efd2bc;
}

.hero-content_heading {
  font-size: 6em;
}

.hero-content_subheading {
  font-size: 2em;
}

.hero-content_actions {
  font-size: 2rem;
}

.movies {
  background-color: #2c2627;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(0.6em, 2vw, 1em);
}

.movies_heading {
  color: #bc2c3d;
  text-align: center;
  font-size: 3em;
  padding: 1em 0.5em;
}

.movies-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15em)[4];
      grid-template-columns: repeat(4, 15em);
  margin: 0 auto;
  gap: 2em;
  margin-bottom: 2em;
}

.movies .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.movies-card {
  border: 1px solid #efd2bc;
  padding: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
  color: #f8f3e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.movies-card_img {
  width: 100%;
  border-radius: 1em;
}

.projections {
  font-size: clamp(0.8em, 1.4vw, 1.6em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2627;
}

.projections_heading {
  color: #bc2c3d;
  text-align: center;
  font-size: 3em;
  padding: 1em 0.5em;
}

.projections-cards {
  max-width: 1200px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  margin-bottom: 3em;
}

.projections-card {
  border-radius: 1em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.projections-card_img {
  width: 50%;
  height: auto;
}

.projections-card-text {
  background-color: rgba(255, 255, 255, 0.427);
  color: #efd2bc;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.projections-card-text_heading {
  font-size: 3em;
}

.projections-card-text_acitons {
  margin-top: auto;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1em;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2627;
  min-height: 100vh;
}

.gallery_heading {
  color: #bc2c3d;
  text-align: center;
  font-size: 3em;
  padding: 1em 0.5em;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[4];
      grid-template-columns: repeat(4, 300px);
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.gallery-grid_img {
  width: 100%;
  border-radius: 1em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2c2627;
  min-height: 100vh;
}

.contact-info {
  margin: 0 auto;
}

.contact-info_heading {
  color: #bc2c3d;
  text-align: center;
  font-size: 3em;
  padding: 1em 0.5em;
}

.contact-info_text {
  font-size: 2em;
  padding: 0.5em 0;
  color: #f8f3e6;
}

.reservation {
  background-color: #2c2627;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reservation-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reservation-main_heading {
  color: #bc2c3d;
  text-align: center;
  font-size: 3em;
  padding: 1em 0.5em;
}

.reservation-main_select {
  color: #efd2bc;
}

.reservation-main_select select {
  margin-left: 2em;
  padding: 1em;
  border-radius: 1em;
  color: #efd2bc;
  border: 2px solid;
  background-color: transparent;
}

.reservation-main_select select option {
  color: black;
}

.reservation-form {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.reservation-form_input {
  padding: 1em;
  border-radius: 1em;
  color: #efd2bc;
  border: 2px solid;
  background-color: transparent;
}

.reservation-form_radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reservation-form_radio_option {
  color: #efd2bc;
}

.reservation-form .btn {
  border: none;
  padding: 1em;
}

.footer {
  text-align: center;
  padding: 2em 4em;
  background-color: #181616;
  color: #f8f3e6;
  font-size: clamp(0.6em, 1.4vw, 1em);
}

.btn {
  display: inline-block;
  background-color: #bc2c3d;
  color: #f8f3e6;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 1em;
  text-align: center;
}

.hamburger {
  display: none;
  height: 5rem;
  width: 5rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
}

.hamburger span {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  height: 4px;
  width: 60%;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hamburger span:nth-child(1) {
  top: 50%;
}

.hamburger span:nth-child(2) {
  top: 70%;
}

.hamburger span:nth-child(3) {
  top: 30%;
}

.active {
  overflow: hidden;
}

.active span:nth-child(3) {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 20%;
}

.active span:nth-child(1) {
  left: 150%;
}

.active span:nth-child(2) {
  top: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 20%;
}

.sideNav {
  display: none;
  position: fixed;
  left: 0;
  width: 70%;
  height: 100vh;
  top: 0;
  background-color: #bc2c3d;
  color: #efd2bc;
  place-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sideNav-active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sideNav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  gap: 2em;
}

.sideNav-links_link {
  font-size: 2em;
}

.sideNav-links_link a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1150px) {
  .movies-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .header-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .sideNav {
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (max-width: 800px) {
  .projections-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projections-card_img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */