$color-black: #2c2627;
$color-red: #bc2c3d;
$color-wihte: #f8f3e6;
$color-puree: #efd2bc;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  background-color: $color-black;
  color: $color-red;
  z-index: 20;

  &_logo {
    text-transform: uppercase;
    color: $color-red;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
  }
  &-links {
    list-style-type: none;
    display: flex;
    &_link {
      padding: 0.5em 1em;
      margin: 0 0.5em;

      a {
        color: $color-wihte;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

.hero {
  background-color: $color-black;
  overflow: hidden;
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;

  font-size: clamp(0.6em, 2vw, 1em);

  &-content {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: $color-puree;
    &_heading {
      font-size: 6em;
    }
    &_subheading {
      font-size: 2em;
    }
    &_actions {
      font-size: 2rem;
    }
  }
}

.movies {
  background-color: $color-black;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.6em, 2vw, 1em);
  &_heading {
    color: $color-red;
    text-align: center;
    font-size: 3em;
    padding: 1em 0.5em;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 15em);
    margin: 0 auto;
    gap: 2em;
    margin-bottom: 2em;
  }

  .btn {
    align-self: center;
  }

  &-card {
    border: 1px solid $color-puree;
    padding: 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
    color: $color-wihte;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &_img {
      width: 100%;
      border-radius: 1em;
    }
    &_heading {
    }

    &_subheading {
    }
  }
}

.projections {
  font-size: clamp(0.8em, 1.4vw, 1.6em);

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  &_heading {
    color: $color-red;
    text-align: center;
    font-size: 3em;
    padding: 1em 0.5em;
  }

  &-cards {
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 3em;
  }
  &-card {
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    &_img {
      width: 50%;
      height: auto;
    }
    &-text {
      background-color: rgba(255, 255, 255, 0.427);
      color: $color-puree;
      padding: 2em;
      display: flex;
      flex-direction: column;
      gap: 2em;
      &_heading {
        font-size: 3em;
      }
      &_text {
      }
      &_acitons {
        margin-top: auto;
        font-size: 2rem;

        display: flex;
        justify-content: flex-end;
        gap: 1em;
      }
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  min-height: 100vh;
  &_heading {
    color: $color-red;
    text-align: center;
    font-size: 3em;
    padding: 1em 0.5em;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin: 0 auto;
    align-content: center;
    align-items: center;
    gap: 1em;
    &_img {
      width: 100%;
      border-radius: 1em;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: $color-black;
  min-height: 100vh;

  &-info {
    margin: 0 auto;
    &_heading {
      color: $color-red;
      text-align: center;
      font-size: 3em;
      padding: 1em 0.5em;
    }

    &_text {
      font-size: 2em;
      padding: 0.5em 0;
      color: $color-wihte;
    }
  }
}

.reservation {
  background-color: $color-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-main {
    flex: 1;
    &_heading {
      color: $color-red;
      text-align: center;
      font-size: 3em;
      padding: 1em 0.5em;
    }

    &_select {
      color: $color-puree;

      select {
        margin-left: 2em;
        padding: 1em;
        border-radius: 1em;
        color: $color-puree;
        border: 2px solid;
        background-color: transparent;

        option {
          color: black;
        }
      }
    }
  }
  &-form {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    &_input {
      padding: 1em;
      border-radius: 1em;
      color: $color-puree;
      border: 2px solid;
      background-color: transparent;
    }

    &_radio {
      display: flex;
      justify-content: space-evenly;

      &_option {
        color: $color-puree;
      }
    }

    .btn {
      border: none;
      padding: 1em;
    }
  }
}

.footer {
  text-align: center;
  padding: 2em 4em;
  background-color: #181616;
  color: $color-wihte;
  font-size: clamp(0.6em, 1.4vw, 1em);

  &_text {
  }
}
// Btn

.btn {
  display: inline-block;
  background-color: $color-red;
  color: $color-wihte;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 1em;
  text-align: center;
}

//Hambrger

.hamburger {
  display: none;
  height: 5rem;
  width: 5rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;

  span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    height: 4px;
    width: 60%;
    border-radius: 2px;
    transition: all 0.3s;

    &:nth-child(1) {
      top: 50%;
    }
    &:nth-child(2) {
      top: 70%;
    }

    &:nth-child(3) {
      top: 30%;
    }
  }
}

.active {
  overflow: hidden;
  span {
    &:nth-child(3) {
      top: 45%;
      transform: rotate(-45deg);
      left: 20%;
    }
    &:nth-child(1) {
      left: 150%;
    }

    &:nth-child(2) {
      top: 45%;
      transform: rotate(45deg);
      left: 20%;
    }
  }
}

.sideNav {
  display: none;
  position: fixed;
  left: 0;
  width: 70%;
  height: 100vh;
  top: 0;
  background-color: $color-red;
  color: $color-puree;
  place-items: center;
  transition: all 0.3s;

  &-active {
    transform: translateX(-100%);
  }

  &-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2em;
    &_link {
      font-size: 2em;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .sideNav {
    display: grid;
  }
}

@media screen and (max-width: 800px) {
  .projections-card {
    flex-direction: column;

    &_img {
      width: 100%;
    }
  }
}
